body {
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

.header {
    background: #FFFFFF;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.banner-bg-Gray {
    background: #F3F1FF;
}

.heading {
    color: #4F35F2;
    font-style: normal;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}

.sub-heading {
    color: #656565;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.ptb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.para_heading {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #656565;
    margin: 30px 0px;
}

.program_section {
    padding: 2% 0 3%;
}

.box-center-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #4F35F2;
    width: 70%;
    margin: auto;
    margin-top: -50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(79, 53, 242, 0.2);
    border-radius: 5px;
    padding: 2px 10px;
}

.heading_one {
    color: #656565;
    font-weight: 700;
    font-size: 36px;
    margin-top: 30px;
}

.txt-cn {
    text-align: center;
}

.profile-card-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 140px;
    row-gap: 50px;
    justify-content: center;
}

.box_heading {
    background: #4F35F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: fit-content;
    color: #FFFFFF;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 30px;
}

.heading-two {
    color: #656565;
    font-weight: 700;
    font-size: 65px;
    margin: 10px;
}

.sub_heading-two {
    color: #656565;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 35px;
}

.university_sec img {
    width: 100%;
}

.university_sec {
    margin: 25px 0;
}

.box-formula {
    border: 4px solid #656565;
    box-sizing: border-box;
    color: #4F35F2;
    font-weight: 600;
    font-size: 32px;
    padding: 1px 20px;
    margin-bottom: 10px;
}

.form_section {
    padding: 2% 0 8%;
}

.box_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    background: #4F35F2;
    height: 105px;
}

.banner_padding {
    padding: 2% 0;
}

.center_box {
    margin: 0 auto;
    max-width: 500px;
    background: #FFFFFF;
    border: 1px solid #4F35F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(79, 53, 242, 0.2);
    padding: 30px 50px;
    margin-top: 40px;
}

input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #656565;
    box-sizing: border-box;
    height: 40px;
    padding-left: 10px;
}

.input-box {
    margin: 10px 0 30px 0;
}

label {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    color: #656565;
    margin: 15px 0;
}

select {
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #656565;
    box-sizing: border-box;
    padding-left: 10px;
}

.form_fields {
    margin: 15px 0px;
}

.submit_btn{
    background: #4F35F2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    width: fit-content;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 0px 20px;
    color: #FFFFFF
}

.form_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.admission-section-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #4F35F2;
}

.admission-card-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 80px;
    justify-content: center;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 700px) and (max-width: 1024px) {
    .card-img {
        height: 6rem;
        width: 6rem;
    }

    .admission-card-section {
        justify-content: center;
        column-gap: 20px;
        row-gap: 40px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media(max-width:600px) {
    .heading {
        font-size: 18px;
    }

    .heading_one,
    .box_heading {
        font-size: 15px;
    }
    .header{
        height: 60px;
    }
    .header img{
        height: 40px;
    }
    .heading-two {
        font-size: 36px;
    }
    label{
        font-size: 14px;
    }


    .sub_heading-two {
        font-size: 15px;
    }

    .box-formula {
        font-size: 12px;
        padding: 5px;
    }
    .submit_btn{
        font-size: 16px;
    }
    .para_heading,
    .sub-heading {
        font-size: 12px;
    }

    .admission-section-heading {
        font-size: 18px;
    }

    .center_box {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(79, 53, 242, 0.2);
        border: none;
        margin-bottom: 20px;
    }

    .box-center-heading {
        font-size: 14px;
        margin-top: -30px;
    }

    .footer {
        font-size: 10px;
        height: 40px;
    }

    .form_fields {
        margin: 0px;
    }
}

@media (max-width: 1070px) {
    .profile-card-section {
        justify-content: space-around;
        column-gap: 0;
        row-gap: 20px;
    }

    .card-img {
        width: 6rem;
        height: 6rem;
    }

    .admission-card-section {
        justify-content: space-around;
        column-gap: 10px;
        row-gap: 20px;
    }

    .admission_card_img {
        height: 70px;
        width: 70px;
    }
}