* {
  box-sizing: border-box;
}
p{
  font-size: 1.4rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.banner-img {
  background-size: cover;
  width: 100%;
}
.description {
  font-size: 1.4rem;
  padding: 3rem 5rem;
  color: #5f5f5f;
  font-weight: 700;
}
.hrule {
  border-top: 2px solid #98afff;
  width: 100%;
}
.section-heading {
  background-color: #ecf0ff;
  text-align: center;
  display: block;
  margin-bottom: -3rem;
  padding-bottom: 2rem;
  margin-top: -1.2rem;
}
.section-heading-2 {
  background-color: #fff;
  text-align: center;
  display: block;
}
.heading {
  font-weight: 700;
  font-size: 1.8rem;
  background-color: #fff;
  color: #2041cb;
  border: 2px solid #98afff;
  border-radius: 10px;
  position: relative;
  width: 60%;
  height: max-content;
  margin: -26px auto auto auto;
}
.sub-heading {
  padding-bottom: 1.8rem;
  color: #5f5f5f;
}
.structure {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  justify-content: center;
}
.structure-img {
  width: 280px;
}
.structure-p {
  display: block;
}
.structure-heading {
  color: #2041cb;
  font-weight: 700;
}
.duration {
  color: #333;
  margin-top: -15px;
}
.structure-desc {
  color: #5f5f5f;
  padding: 0rem 9rem;
}
.structure-red {
  background-color: #fff8f7;
  padding-bottom: 3rem;
}
.structure-heading-red {
  color: #ff6243;
  font-weight: 700;
  padding: 0rem;
}
.structure-desc-2 {
  padding: 2rem 9rem;
  color: #5f5f5f;
}
.fence {
  float: left;
  width: 90px;
  height: 90px;
  padding: 1rem;
}
.know-here {
  color: #2041cb;
  font-weight: 700;
  font-size: 1.3rem;
}
.eligible {
  color: #5f5f5f;
  padding: 1rem 6rem;
  padding-bottom: 5rem;
  margin-bottom: 1rem;
}
.santosh-banner {
  width: 100%;
  height: fit-content;
  margin-top: -1.2rem;
}
.prep-desc {
  padding: 0rem 10rem;
  color: #5f5f5f;
}
.info-card-section {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  row-gap: 20px;
  margin-top: 25px;
  justify-content: center;
}
.info-card-section-2 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  row-gap: 20px;
  margin-top: 25px;
  justify-content: center;
}
.info-card {
  width: 400px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
  border: 3px solid #eeebff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.card-img {
  padding: 30px;
}
.card-heading {
  font-size: 1.5rem;
  color: #726d6d;
  font-weight: 700;
}
.info-card-text {
  font-size: 1rem;
  padding: 0 40px;
  color: #726d6d;
}
.byjus-prep {
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
.gmat-steps {
  display: block;
}
.steps {
  display: flex;
  flex-direction: column;
  padding: 2rem 9rem;
}
.steps-img-1 {
  width: 40%;
}
.steps-img-2 {
  width: 44%;
}
.steps-img-3 {
  width: 55%;
}
.steps-img-4 {
  width: 85%;
}
.steps-img-5 {
  width: 55%;
}
.steps-img-6 {
  width: 80%;
  padding-bottom: 1rem;
}
.steps-desc {
  color: #5f5f5f;
  padding: 1rem 9rem;
}
.profile-booster {
  width: 100%;
  margin-top: -0.8rem;
  background-color: #f6f5fb;
  padding: 1rem;
  margin-top: -1.25rem;
}
.pb-desc {
  padding: 4rem 9rem;
  color: #5f5f5f;
  margin-bottom: -2rem;
}
.pb {
  padding: 0rem 0rem;
  background-color: #f6f5fb;
}
.form-last {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-section {
  text-align: center;
  padding-bottom: 50px;
}
.form-section-heading {
  font-size: 30px;
  color: #4d6fe7;
  font-weight: bolder;
  padding-top: 35px;
}
.form-section-para {
  font-size: 1.5rem;
  color: #3e3c3c;
  margin-top: -30px;
}
.input-section {
  display: flex;
  justify-content: center;
}
.input-box {
  font-family: "Poppins", sans-serif;
  width: 380px;
  height: 50px;
  border: 2px solid #3e3c3c;
  font-size: 1.2rem;
  padding-left: 20px;
  margin: 2rem;
}
.submit-btn {
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  height: 60px;
  width: 318px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #4f35f2;
  border: 4px solid #fff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.features {
  padding: 2rem 3rem;
}
.feature-col {
  display: inline-block;
  text-align: center;
  justify-content: space-evenly;
  padding: 0rem 2rem;
}
.feature-desc {
  color: #5f5f5f;
  text-align: center;
  font-size: 1rem;
}
.footer-section {
  background-color: #4f35f2;
  text-align: center;
  color: #fff;
  padding: 1px 0;
}
@media (max-width: 600px) {
  .banner-bg {
    display: block;
    width: 100%;
  }
  .description {
    padding: 2rem;
  }
  .heading {
    width: 90% !important;
    font-size: 0.85rem;
    line-height: 1.2rem;
    padding: 6px 0px;
  }
  .section-heading {
    font-size: 1rem;
    padding: 0rem 1rem;
    padding-bottom: 3rem;
  }
  .section-heading-2 {
    font-size: 1rem;
    margin-bottom: -6rem;
  }
  .structure-heading {
    font-size: 1.2rem;
  }
  .structure-desc {
    padding: 0.5rem 1rem;
  }
  .structure-heading-red {
    font-size: 1.2rem;
  }
  .structure-desc-2 {
    padding: 0rem 1rem;
    padding-bottom: 5.5rem;
  }
  .fence {
    display: none;
  }
  .know-here {
    font-size: 1.2rem;
  }
  .eligible {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .prep-desc {
    font-size: 1rem;
    padding: 0rem 1rem;
    padding-bottom: 4rem;
  }
  .info-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
  }
  .info-card-section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
  }
  .info-card {
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .info-card-2 {
    row-gap: 20px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 25px;
  }
  .card-heading {
    font-size: 15px;
  }
  .info-card-text {
    font-size: 14px;
    text-align: center;
    padding: 5px;
  }
  .gmat-steps {
    display: block;
    width: auto;
  }
  .steps-img-1 {
    width: 200px;
  }
  .steps-img-2 {
    width: 200px;
  }
  .steps-img-3 {
    width: 300px;
  }
  .steps-img-4 {
    width: 320px;
  }
  .steps-img-5 {
    width: 250px;
  }
  .steps-img-6 {
    width: 350px;
  }
  .steps {
    padding: 1rem 1rem;
  }
  .steps-desc {
    padding: 0rem;
  }
  .pb {
    margin-top: -2.2rem;
    padding: 3rem 0rem;
  }
  .pb-desc {
    padding: 0rem 1rem 7rem;
    margin-bottom: -2rem;
  }
  .feature-col {
    padding-bottom: 4rem;
  }
  .form-section-heading {
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
  }
  .form-section-para {
    font-size: 1.3rem;
    color: #3e3c3c;
    margin-top: -10px;
  }
  .input-section {
    display: flex;
    flex-direction: column;
  }
  .input-box {
    width: 70%;
    height: 40px;
    margin: 15px auto;
    border: 2px solid #3e3c3c;
    font-size: 15px;
    font-family: "Poppins";
    padding-left: 20px;
  }
  .submit-btn {
    font-family: "Poppins", sans-serif;
    height: 40px;
    width: 218px;
    font-size: 1.1rem;
    padding: 0.2rem 0rem;
  }
}
@media (max-width: 900px) {
  .banner-img {
    display: block;
    width: 100%;
  }
  .heading {
    width: 70%;
  }
  .fence {
    display: none;
  }
  .steps-desc {
    padding: 0rem;
  }
  .input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
  }
  .info-card-section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
  }
  .info-card {
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .info-card-2 {
    row-gap: 20px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 25px;
  }
  .card-heading {
    font-size: 15px;
  }
  .info-card-text {
    font-size: 14px;
    text-align: center;
    padding: 5px;
  }
}
