* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.logo-section {
  height: 6rem;
  text-align: center;
}

.logo-section img {
  width: 14.5rem;
  height: 6rem;
  padding-bottom: 5px;
}

.banner-section {
  background-color: #eeebff;
  display: flex;
  flex-direction: row;
  padding-top: 61px;
  justify-content: space-around;
}

.banner-left-section {
  padding-top: 70px;
}

.GMATScore {
  width: 37rem;
  height: 9rem;
}

.left-section-text {
  font-size: 1.4rem;
  color: #3e3c3c;
}

.left-section-btn {
  font-size: 2rem;
  color: #4f35f2;
  font-weight: bolder;
  padding: 10px 20px;
  background: #ffffff;
  border: 2px solid #4f35f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.person-with-idea {
  width: 45rem;
  height: 30rem;
}

/* Form section */

.form-section {
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 50px;
}

.form-section-heading {
  font-size: 3rem;
  color: #4f35f2;
}

.input-section {
  display: flex;
  justify-content: center;
}

.input-box {
  width: 380px;
  height: 50px;
  border: 2px solid #3e3c3c;
  font-size: 1.4rem;
  padding-left: 20px;
  margin: 2rem;
}

.submit-btn {
  margin-top: 30px;
  height: 60px;
  width: 318px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #4f35f2;
  border: 4px solid #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* top-scorer-section */

.top-scorer-section {
  background-color: #eeebff;
  padding: 20px 0;
}

.top-scorer-heading {
  width: 23rem;
  background: #ffffff;
  border-radius: 20px;
  margin: auto;
  font-weight: 900;
  font-size: 2rem;
  padding: 2px;
  text-align: center;
  color: #4f35f2;
  border: 2px solid #4f35f2;
}

.scorer-score {
  display: flex;
  padding: 40px;
  justify-content: space-around;
}

.user-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto 2rem auto;
}

.user-score-siddharth {
  width: 18rem;
  height: 6rem;
  margin: 0 auto;
}

.user-score {
  width: 12rem;
  height: 6rem;
  margin: 0 auto;
}

.user-collage {
  font-size: 1.5rem;
}

/* collage-container */

.collage-section {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
}

.collage-section-heading {
  font-size: 2.7rem;
  width: 55rem;
  margin: 0 auto 20px auto;
  background: #ffffff;
  border: 1px solid #4f35f2;
  border-radius: 20px;
  color: #4f35f2;
  font-weight: bolder;
}

.collage-desktop-img {
  width: 73rem;
  margin-bottom: 20px;
}

.collage-mobile-img {
  visibility: hidden;
  height: 0;
}

/* info section  */

.info-section {
  padding-top: 10px;
  padding-bottom: 60px;
  background-color: #eeebff;
  text-align: center;
}

.info-section-heading {
  font-size: 2.5rem;
  letter-spacing: 4px;
  color: #4f35f2;
}

.info-card-section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
  justify-content: space-evenly;
}

.info-card {
  width: 19rem;
  background-color: #ffffff;
  border: 3px solid #eeebff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.card-img {
  width: 6rem;
  height: 8rem;
  padding-top: 30px;
}

.card-heading {
  font-size: 1.3rem;
  color: #787878;
  font-weight: bold;
}

.info-card-text {
  font-size: 1rem;
  padding: 0 10px;
}

/* prep section  */

.prep-section {
  background-color: #fff;
  text-align: center;
}

.prep-section-heading {
  color: #4f35f2;
  font-size: 3rem;
}

.prep-card-section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-around;
  padding-bottom: 80px;
}

.prep-card {
  width: 600px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 50px 0 50px 0;
}

.prep-card-img {
  width: 6rem;
  height: 6rem;
}

.prep-card-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #4f35f2;
}

.prep-card-text {
  height: 132px;
  font-size: 1rem;
}

.prep-btn-img {
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #4f35f2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 0;
}

/* Testimonial section */

.testimonial-section {
  background-color: #eeebff;
  text-align: center;
  padding: 30px 0;
}

.testimonial-section-heading {
  font-size: 2.5rem;
  background-color: #4f35f2;
  border-radius: 20px;
  color: #ffffff;
  width: 55rem;
  margin: 0 auto 40px auto;
}

.testimonial-card {
  text-align: center;
  background-color: #fff;
  width: 60rem;
  margin: 10px auto 20px auto;
  box-shadow: 2px 2px 5px #00000099;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 30px;
}

.collage-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.collage-container img {
  height: 60px;
  margin: 0 20px;
  justify-content: center;
}

.collage-para {
  margin-top: -3px;
  font-size: 0.6rem;
  line-height: 2px;
}

.user-container {
  display: flex;
}

.user-img-test {
  height: 80px;
}

.name-img {
  height: 50px;
  margin: 10px 0 0 20px;
}

hr {
  width: 90%;
  margin: 0 auto;
}

.card-text {
  font-size: 1rem;
  padding: 80px 10px;
  text-align: center;
}

.practice-now {
  font-size: 2.6rem;
  color: #ffffff;
  font-weight: bolder;
  padding: 10px 80px;
  background: #4f35f2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 0;
  margin: 40px auto;
}

/* gmat-with-byjus-section */

.gmat-with-byjus-section {
  text-align: center;
  padding: 20px 0;
}

.gmat-with-byjus-heading {
  font-size: 3rem;
  font-weight: bolder;
  color: #726d6d;
}

.gmat-with-byjus-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 13rem;
  margin: 12rem 0 5rem 0;
}

.gmat-with-byjus-card {
  position: relative;
  background-color: #eeebff;
  width: 33rem;
  padding: 60px 10px 40px 10px;
  border-radius: 12px;
}

.gmat-with-byjus-card-img-container {
  position: absolute;
  background-color: #ffffff;
  padding: 0;
  top: -3rem;
  left: 8rem;
  width: 16rem;
  border-radius: 12px;
  height: 7rem;
}

.gmat-with-byjus-card-img {
  width: 13rem;
  height: 11rem;
  /* padding: 15px; */
  position: relative;
  top: -6rem;
  border-radius: 12px;
  border: 1px solid #4f35f2;
}

.gmat-with-byjus-card-heading {
  font-size: 1.7rem;
  color: #4f35f2;
  font-weight: bolder;
}

.gmat-with-byjus-card-text {
  font-size: 1.1rem;
}

.gmat-with-byjus-card-btn {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 10px 50px;
  color: #4f35f2;
  background-color: #ffffff;
  border: 2px solid #4f35f2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* form section last  */

.form-section-last {
  text-align: center;
  background-color: #eeebff;
  padding: 10px 0 50px 0;
}

/* footer section */

.footer-section {
  background-color: #4f35f2;
  text-align: center;
  color: #fff;
  padding: 1px 0;
}

@media (max-width: 1380px) {
  .GMATScore {
    width: 600px;
  }

  .person-with-idea {
    width: 600px;
  }
}

@media (max-width: 1070px) {
  .logo-section {
    height: 4.5rem;
  }

  .logo-section img {
    width: 10rem;
    height: 4rem;
    margin: 10px 0 10px 0;
  }

  .banner-section {
    flex-direction: column;
    padding: 10px 0;
  }

  .banner-left-section {
    order: -1;
    text-align: center;
    margin: -30px 0 10px 0;
  }

  .GMATScore {
    width: 21rem;
    height: 6rem;
  }

  .left-section-text {
    font-size: 0.9rem;
  }

  .person-with-idea {
    order: -2;
    width: 21rem;
    height: 20rem;
    margin: 0 auto;
    border-bottom: 1px solid #3e3c3c;
  }

  .left-section-btn {
    font-size: 1.4rem;
  }

  .form-section-heading {
    font-size: 1.4rem;
    padding-top: 20px;
  }

  .input-section {
    display: flex;
    flex-direction: column;
  }

  .input-box {
    width: 80%;
    height: 50px;
    margin: 15px auto;
    border: 2px solid #3e3c3c;
    font-size: 1.4rem;
    padding-left: 20px;
  }

  .submit-btn {
    height: 50px;
    width: 270px;
    font-size: 1.4rem;
  }

  .top-scorer-heading {
    width: 20rem;
    font-size: 1.6rem;
  }

  .scorer-score {
    column-gap: 40px;
  }

  .user-img {
    width: 4rem;
    height: 4rem;
    margin: 0 auto 1rem auto;
  }

  .user-score-siddharth {
    width: 6rem;
    height: 2.3rem;
  }

  .user-score {
    width: 5.4rem;
    height: 2.3rem;
  }

  .user-collage {
    font-size: 0.5rem;
  }

  .testimonial-section-heading {
    font-size: 1.5rem;
    width: 22rem;
    margin: -20px auto 30px auto;
  }

  .testimonial-card {
    width: 90%;
  }

  .card-header {
    flex-direction: column;
  }

  .collage-container {
    order: -1;
  }

  .collage-container img {
    height: 28px;
    margin: 5px 0;
  }

  .card-text {
    padding: 20px 10px;
    line-height: 3px;
  }

  .user-container {
    order: -2;
    margin: 5px auto;
  }

  .user-img-test {
    height: 60px;
  }

  .name-img {
    height: 40px;
    margin: 10px 0 0 20px;
  }

  .para5 {
    font-size: 0.7rem;
    line-height: 20px;
  }

  .practice-now {
    font-size: 1.6rem;
    padding: 10px 50px;
  }

  .collage-section-heading {
    font-size: 1.3rem;
    width: 18rem;
  }

  .collage-desktop-img {
    visibility: hidden;
    height: 0;
    width: 0;
    margin-bottom: 0;
  }

  .collage-mobile-img {
    visibility: visible;
    height: 6rem;
  }

  .info-section {
    padding-top: 5px;
    padding-bottom: 30px;
  }

  .info-section-heading {
    font-size: 1.2rem;
  }

  .info-card {
    width: 10rem;
    height: 16rem;
  }

  .card-img {
    width: 3rem;
    height: 4rem;
    padding-top: 15px;
  }

  .card-heading {
    font-size: 0.8rem;
  }

  .info-card-text {
    font-size: 0.6rem;
  }

  .prep-section-heading {
    font-size: 1.4rem;
  }

  .prep-card-section {
    padding-bottom: 40px;
  }

  .prep-card {
    width: 90%;
    padding: 25px 5px;
  }

  .prep-card-img {
    width: 3rem;
    height: 3rem;
  }

  .prep-card-heading {
    font-size: 1.4rem;
  }

  .prep-card-text {
    height: 60px;
    font-size: 0.7rem;
  }

  .prep-btn-img {
    font-size: 0.8rem;
  }

  .gmat-with-byjus-heading {
    font-size: 1.5rem;
  }

  .gmat-with-byjus-card-section {
    text-align: center;
    margin: 8rem 0 2rem 0;
    row-gap: 8rem;
  }

  .gmat-with-byjus-card {
    width: 22rem;
    padding-top: 30px;
  }

  .gmat-with-byjus-card-img-container {
    top: -3rem;
    left: 4rem;
    width: 14rem;
    height: 5rem;
  }

  .gmat-with-byjus-card-img {
    width: 11rem;
    height: 7rem;
    padding: 1px;
    position: relative;
    top: -3rem;
  }

  .gmat-with-byjus-card-heading {
    font-size: 1.3rem;
    color: #4f35f2;
    font-weight: bolder;
  }

  .gmat-with-byjus-card-text {
    font-size: 0.7rem;
  }

  .gmat-with-byjus-card-btn {
    font-size: 1rem;
    margin-top: 20px;
  }
}
