* {
  box-sizing: border-box;
}
.hide {
  display: none;
}
.show {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.logo-section {
  width: 100%;
  height: 100px;
  text-align: center;
}
.logo-section img {
  padding: 5px 0;
}
.banner-heading {
  height: 4rem;
}
.banner-section {
  text-align: center;
  background-color: #f3f1ff;
  padding: 50px 0;
}
.banner-para {
  font-size: 1.5rem;
  color: #656565;
  font-weight: 500;
  margin-top: -3px;
}
.banner-heading-2 {
  margin: 14px;
}
.banner-para-2 {
  font-size: 1.4rem;
  color: #656565;
  font-weight: bolder;
  margin-top: -15px;
}
.banner-text-box {
  border: 3px solid #656565;
  width: 1000px;
  margin: 0 auto;
}
.text-box-text {
  font-size: 2.2rem;
  color: #4f35f2;
  font-weight: 700;
  margin: 0;
}
.form-section {
  text-align: center;
  padding: 30px 0 50px 0;
}
.form-section-para {
  font-size: 1.4rem;
  color: #656565;
}
.form-card-section {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  padding: 30px 50px;
  border: 1px solid #4f35f2;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
  text-align: start;
}
.phone-number,
.work-experience {
  margin: 10px 0;
  font-size: 1.3rem;
}
.input-box {
  height: 40px;
  font-size: 1.2rem;
  padding: 5px;
  margin: 10px 0 30px 0;
}
.submit-btn {
  width: 200px;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 20px auto;
  padding: 10px;
  background-color: #4f35f2;
  color: #f3f1ff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
}
.profile-building-section {
  text-align: center;
  background-color: #f3f1ff;
  padding: 10px 0 80px 0;
}
.heading-container {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(79, 53, 242, 0.2);
  border-radius: 10px;
  width: 1220px;
  margin: 0 auto;
}
.profile-building-heading {
  font-size: 2.3rem;
  color: #4f35f2;
  font-weight: bolder;
}
.profile-building-para {
  font-size: 1.2rem;
  color: #656565;
  padding: 0 70px;
}
.profile-building-heading-2 {
  font-size: 2.3rem;
  color: #4f35f2;
  font-weight: bolder;
  margin: 80px 0;
}
.profile-card-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 140px;
  row-gap: 50px;
  justify-content: center;
}
.admission-section {
  text-align: center;
  padding: 30px 0 50px 0;
}
.admission-section-heading {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #4f35f2;
}
.admission-section-para {
  font-size: 1.5rem;
  color: #656565;
  margin-bottom: 80px;
}
.admission-card-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 80px;
  justify-content: center;
}
.form-section-last {
  text-align: center;
  padding: 10px 0 50px 0;
  background-color: #f3f1ff;
}
.form-section-heading {
  font-size: 3rem;
  color: #4f35f2;
  font-weight: bolder;
}
.collage-desktop-img {
  width: 90%;
  margin-bottom: 20px;
}
.collage-mobile-img {
  visibility: hidden;
  height: 0;
}
.footer-section {
  background-color: #4f35f2;
  text-align: center;
  color: #fff;
  padding: 1px 0;
}
@media (max-width: 1070px) {
  .logo-section {
    height: 60px;
  }
  .logo-section img {
    height: 50px;
    margin: 5px 0 5px 0;
  }
  .banner-section {
    padding: 20px 0;
  }
  .banner-heading {
    height: 2.5rem;
    width: 22rem;
  }
  .banner-para {
    font-size: 0.9rem;
  }
  .b-school-text {
    height: 3.5rem;
    width: 20rem;
  }
  .banner-heading-2 {
    height: 42px;
    width: 80%;
  }
  .banner-para-2 {
    font-size: 1rem;
    margin-top: -5px;
  }
  .banner-text-box {
    width: 90%;
  }
  .text-box-text {
    font-size: 0.8rem;
  }
  .form-section-para {
    font-size: 1.2rem;
    margin: 10px 10px 30px 10px;
  }
  .form-card-section {
    width: 90%;
    padding: 40px 35px 20px 35px;
  }
  .phone-number,
  .work-experience {
    font-size: 1.1rem;
    margin: 0;
  }
  .input-box {
    height: 30px;
    font-size: 1rem;
  }
  .heading-container {
    width: 95%;
  }
  .profile-building-heading {
    font-size: 1rem;
  }
  .profile-building-para {
    font-size: 0.9rem;
    padding: 0 10px;
  }
  .profile-building-heading-2 {
    font-size: 1.1rem;
    margin: 40px 5px;
  }
  .profile-card-section {
    justify-content: space-around;
    column-gap: 0;
    row-gap: 20px;
  }
  .card-img {
    width: 8rem;
    height: 8rem;
  }
  .admission-section-heading {
    font-size: 1.3rem;
  }
  .admission-section-para {
    font-size: 1rem;
    margin-bottom: 50px;
  }
  .admission-card-section {
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 20px;
  }
  .admission-card-img {
    height: 80px;
    width: 80px;
  }
  .form-section-heading {
    font-size: 1.8rem;
  }
  .collage-desktop-img {
    visibility: hidden;
    height: 0;
    margin-bottom: 0;
  }
  .collage-mobile-img {
    visibility: visible;
    height: 90px;
    margin-top: -30px;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .banner-text-box {
    width: 60%;
  }
  .banner-heading {
    width: 60%;
  }
  .b-school-text {
    height: 3.5rem;
    width: 20rem;
  }
  .banner-heading-2 {
    width: 60%;
  }
  .text-box-text {
    font-size: 1rem;
  }
  .form-card-section {
    width: 600px;
  }
  .heading-container {
    width: 80%;
  }
  .profile-building-heading {
    font-size: 1.4rem;
  }
  .profile-building-para {
    font-size: 1.2rem;
    padding: 0 40px;
  }
  .profile-card-section {
    justify-content: center;
    column-gap: 80px;
    row-gap: 50px;
  }
  .card-img {
    height: 6rem;
    width: 6rem;
  }
  .admission-section-heading {
    font-size: 1.6rem;
  }
  .admission-section-para {
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
  .admission-card-section {
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
  }
  .admission-card-img {
    height: 220px;
    width: 220px;
  }
  .collage-desktop-img {
    visibility: visible;
    height: 70px;
    width: 90%;
    margin-bottom: 20px;
  }
  .collage-mobile-img {
    visibility: hidden;
    height: 0;
  }
}
