body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
.header {
  width: 100%;
  background-color: #4F35F2;
  height: 100px;
}
.header img{
  padding: 15px 20px;
  width: 300px;
}
.footer {
  background-color: #4f35f2;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}
.banner_section img {
  width: 100%;
  z-index: 1;
}
.form_section {
  background-color: #ffffff;
}
.form_heading {
  text-align: center;
  color: #3e3c3c;
  font-weight: 700;
  font-size: 45px;
}
.form_subheading {
  text-align: center;
  color: #3e3c3c;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
}
.form_fields {
  background: #ffffff;
  border: 2px solid #3e3c3cd7;
  box-sizing: border-box;
  color: #646363;
  font-weight: 400;
  font-size: 22px;
  padding: 10px;
  margin-bottom: 30px;
  width: 350px;
}
.setOf_fields {
  display: flex;
  justify-content: space-between;
}
.setOf_fields_sec {
  display: flex;
  justify-content: space-evenly;
}
.applyNow_container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.applynowbtn {
  background: #4f35f2;
  border: 4px solid #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 50px;
  cursor: pointer;
}
.fourth_section {
  background-color: #eeebff;
  padding-bottom: 7%;
  padding-top: 3%;
  position: relative;
}
.fourthSec_heading {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  text-align: center;
  color: #726d6d;
}
.fourthSec_subheading {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #726d6d;
}
.card_section {
  display: flex;
  flex-wrap: wrap;
}
.program_cards {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.table_ending{
  border-radius: 0px 0px 20px 20px;
}
.program_card {
  padding-top: 10px;
  padding-bottom: 20px;
  flex: 1 1 360px;
  background: #ffffff;
  border: 4px solid #eeebff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  margin: 20px;
  position: relative;
}
.package_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.tableNotes {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  margin-bottom: 50px;
  color: #726d6d;
}
.program_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 54px;
  text-align: center;
  color: #4f35f2;
  margin-bottom: 10px;
}
.program_skill {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 0px 20px;
  text-align: center;
  color: #726d6d;
  margin-bottom: 20px;
  height: 80px;
}
.position {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #726d6d;
  margin-bottom: 10px;
}
.experience {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #726d6d;
}
.package_detail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #726d6d;
}
.skills {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #726d6d;
}
.program_button {
  background: #4f35f2;
  border: 4px solid #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px 35px;
}
.card_division {
  flex: 19%;
  margin: 1%;
  background: #ffffff;
  border: 4px solid #eeebff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1%;
}
.card_innerSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_innerSec img {
  width: 80px;
  height: 80px;
}
.card_heading {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0px;
  padding: 10px;
  text-align: center;
  color: #726d6d;
}
.card_subHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  color: #726d6d;
}
.applyNowHashbtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.hiring_partnerSec {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 3%;
  padding-top: 4%;
}
.hiring_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  padding: 5px 20px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  position: absolute;
  color: #4f35f2;
  left: 50%;
  top: -10px;
  transform: translate(-50%, -50%);
}
.partner_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partnerImgBox {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  margin: 1px;
  width: 13%;
  justify-content: center;
  align-items: center;
}
.partnerImgBox img {
  width: 100%;
}
.table_section {
  background-color: #eeebff;
  padding-bottom: 5%;
}
.heading-space {
  padding-top: 10px;
  padding-bottom: 30px;
}
.notes {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  color: #726d6d;
  margin: 20px 0px;
}
.table {
  background: #eeebff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.table_heading {
  display: flex;
  height: 30px;
}
.table_heading div {
  width: 25%;
  text-align: center;
}
.table_head {
  background: #7f6aff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
  color: #ffffff;
  width: fit-content;
  display: block;
  margin: auto;
  margin-top: -20px;
}
.works_flow_container {
  background-color: #ffffff;
  padding: 5% 2%;
  position: relative;
}
.how_it_works_heading {
  position: absolute;
  color: #ffffff;
  background: #4f35f2;
  border-radius: 20px;
  left: 50%;
  top: -10px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  padding: 5px 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.howitworksImg {
  width: 100%;
}
.even_color {
  background: #ffffff;
}
.odd_color {
  background: #eeebff;
}
.table_content {
  display: flex;
  height: 60px;
  align-items: center;
}
.table_content div {
  width: 25%;
  text-align: center;
  color: #726d6d;
  font-size: 16px;
  font-weight: 500;
}
.programMainSec {
  padding-top: 8%;
}
.ProgramDescription {
  position: relative;
  padding: 5% 0;
}
.programsubDes {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #726d6d;
}
.success_stories {
  background-color: #eeebff;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5px;
}
.success_story_des {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: #3e3c3c;
  margin-bottom: 20px;
}
.successImg {
  margin-right: 10px;
}
.success_story_card {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 10px;
  margin-bottom: 20px;
}
.dividerLine {
  width: 1px;
  background-color: #b0a59e;
  height: 80px;
}
.succes_story_top {
  display: flex;
}
.successtoryDetails {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
.story_container {
  line-height: 50px;
  text-align: center;
}
.success_sm_heading {
  color: #3e3c3c;
  font-weight: 600;
  font-size: 18px;
}
.lpa_detail {
  color: #4f35f2;
  font-weight: 700;
  font-size: 25px;
}
.horizontal_line {
  width: 100%;
  margin: 20px 0px;
  background-color: #b0a59e;
  height: 1px;
}
.top_content {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #3e3c3c;
  margin-bottom: 10px;
}
.bottom_content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #3e3c3c;
  margin-bottom: 30px;
}
.story_container_one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.program_button a {
  color: #ffffff;
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
}
.applynowbtn a {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 500px) {
  .footer_text {
    font-size: 10px;
  }
  .footer {
    height: 80px;
  }
  .header {
    height: 80px;
  }
  .header img {
    width: 40%;
  }
  .form_section {
    padding-top: 20px;
  }
  .setOf_fields {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .form_fields {
    width: 100%;
    font-size: 14px;
    border: 1px solid #3e3c3cd7;
  }
  .setOf_fields_sec {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .programImg {
    width: 90px;
    height: 90px;
  }
  .form_heading {
    font-size: 20px;
  }
  .form_subheading {
    font-size: 10px;
  }
  .applynowbtn {
    font-size: 12px;
  }
  .fourthSec_heading {
    font-size: 16px;
  }
  .fourthSec_subheading {
    font-size: 10px !important;
    margin-bottom: 10px;
  }
  .card_heading {
    font-size: 12px;
  }
  .card_subHeading {
    font-size: 8px;
  }
  .success_story_des {
    font-size: 12px;
    line-height: 20px;
  }
  .success_story_des br {
    display: none;
  }
  .programsubDes br {
    display: none;
  }
  .card_innerSec img {
    width: 40px;
    height: 40px;
  }
  .card_division {
    flex: 40%;
    padding-top: 15px;
  }
  .hiring_heading {
    font-size: 18px;
    padding: 5px;
    white-space: nowrap;
  }
  .table_head {
    font-size: 7px !important;
    padding: 7px;
    white-space: nowrap;
  }
  .table_content div {
    font-size: 10px;
  }
  .table_content {
    height: 40px;
  }
  .table_heading {
    height: unset;
  }
  .how_it_works_heading {
    white-space: nowrap;
    font-size: 14px;
  }
  .notes {
    font-size: 14px;
  }
  .program_heading {
    font-size: 16px;
  }
  .program_skill {
    font-size: 10px;
    height: unset;
  }
  .skills {
    font-size: 10px;
  }
  .position {
    font-size: 8px;
  }
  .experience {
    font-size: 8px;
  }
  .package_detail {
    font-size: 8px;
  }
  .package_container img {
    width: 30px;
  }
  .mobile_view_sec {
    display: flex;
    justify-content: space-around;
  }
  .divider {
    width: 1px;
    background-color: #c4c4c4;
  }
  .program_button {
    padding: 10px 20px;
    font-size: 10px;
  }
  .program_card {
    margin: 10px;
  }
  .fourth_section {
    padding-bottom: 15%;
  }
  .partnerImgBox {
    width: 25%;
    margin: 5px;
  }
  .partner_gallery {
    margin-top: 30px;
  }
  .program_heading_space {
    top: -3px;
  }
  .programsubDes {
    font-weight: 400;
    font-size: 10px !important;
    line-height: 18px;
    text-align: center;
  }
  .succes_story_top {
    flex-direction: column;
  }
  .companyImg {
    height: 12px;
  }
  .success_sm_heading {
    font-size: 10px;
  }
  .story_container {
    line-height: 30px;
  }
  .successImg {
    width: 40px;
  }
  .personImg {
    width: 100px;
  }
  .lpa_detail {
    font-size: 12px;
  }
  .linkedIN {
    width: 25px;
  }
  .dividerLine {
    height: 50px;
  }
  .mobile_hide {
    display: none;
  }
  .bottom_content {
    font-size: 8px;
  }
  .ProgramDescription {
    padding: 10% 0;
  }
}
@media (max-width: 1024px) {
  .setOf_fields {
    flex-direction: column;
  }
  .partner_gallery {
    justify-content: space-around;
  }
  .form_fields {
    width: 100%;
  }
  .succes_story_top {
    flex-direction: column;
  }
  .programsubDes {
    font-size: 16px;
  }
  .how_it_works_heading {
    font-size: 25px;
  }
  .hiring_heading{
    font-size: 25px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .mobile_hide {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  .how_it_works_heading {
    font-size: 16px;
  }
  .table_head {
    font-size: 10px;
  }
  .fourthSec_heading {
    font-size: 26px;
  }
  .fourthSec_subheading {
    font-size: 20px;
  }
  .setOf_fields_sec {
    flex-direction: column;
  }
  .hiring_heading {
    font-size: 20px;
  }
  .mobile_hide {
    display: none;
  }
}
