*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.logo-section{
    width: 100%;
    height: 100%;
    text-align: center;
}
.logo-section img{
    padding-bottom: 5px;
}

.banner-section{
    background-image: url("https://dsxfv1fxcymhz.cloudfront.net/GRE/Faculty-Prep-April-2022/bg-img.png");
    background-repeat: no-repeat;
    background-color: #4D6FE7;
    width: 100%;
}
.banner-section-img{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    margin-top: -13%;
}

.center-image{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-section {
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 50px;
}
  
.form-section-heading {
    font-size: 30px;
    color: #4D6FE7;
    font-weight: bolder;
    padding-top: 35px;
}
  
.form-section-para {
    font-size: 1.5rem;
    color: #3e3c3c;
    margin-top: -30px;
}
  
.input-section {
    display: flex;
    justify-content: center;
}
  
.input-box {
    width: 380px;
    height: 50px;
    border: 2px solid #3e3c3c;
    font-size: 1.4rem;
    padding-left: 20px;
    margin: 2rem;
}
.submit-btn {
    margin-top: 30px;
    height: 60px;
    width: 318px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #4D6FE7;
    border: 4px solid #E5E5E5;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.byjus-prep {
    background-color: #EEEBFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
}

.byjus-heading {
    background-color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    color: #4D6FE7;
    width: 700px;
    height: 74px;
    margin: auto;
    vertical-align: middle;
    position: relative;
    margin-bottom: 50px;
    margin-top: -50px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px 0 0 0;
}

.byjus-subheading{
    text-align: center;
    color: #3E3C3C;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 45px;
}
/* .info-card-section{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
} */

.info-card-section{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    row-gap: 20px;
    margin-top: 25px;
    justify-content: center;
}

.info-card-section-2{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    row-gap: 20px;
    margin-top: 25px;
    justify-content: center;
}

.info-card {
    width: 400px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ffffff;
    border: 3px solid #EEEBFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
  
.card-img {
    padding: 30px;
}
  
.card-heading {
    font-size: 1.5rem;
    color: #474747;
    font-weight: bold;
}
  
.info-card-text {
    font-size: 1rem;
    padding: 0 40px;
}

.testimonial-section {
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 8%;
}
  
.testimonial-section-heading {
    background-color: #4D6FE7;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    width: 395px;
    height: 74px;
    margin: 0 auto 0 auto;
    display: inline-flex;
    flex-direction: column;
    margin-top: -8%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px 0 0 0;
}

.testimonial-section-subheading{
    text-align: center;
    color: #3E3C3C;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 45px;
    padding-bottom: 50px;
}

.testimonial-card {
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 5px !important;
    padding-left: 5px  !important;
    background-color: #EEEBFF80;
    padding-bottom: 20px;
    width: 400px;
    height: 50;
    box-shadow: 2px 2px 5px #00000026;
    border: #FFFFFF 4px;
    border-style: solid;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.user-img{
    height: 150px;
    border: solid 4px #FFFFFF;
    border-radius: 50%;
    margin-top: -15%;
}

.user-name{
    font-weight: bolder;
    color: #4D6FE7;
}

.user-score{
    font-weight: bold;
    color: #4D6FE7;
}

.para5{
    font-size: 15px;
}

.college-img{
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-evenly;
}

.right-arrow{
    height: 50px;
}

.collage-para {
    margin-top: -3px;
    font-size: 0.6rem;
    line-height: 8px;
}

.form-section-heading-style{
    background-color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    color: #4D6FE7;
    width: 700px;
    height: 74px;
    margin: auto;
    vertical-align: middle;
    position: relative;
    margin-bottom: 50px;
    margin-top: -50px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px 0 0 0;
}

.form-last{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EEEBFF;
}

.footer-section {
    background-color: #4f35f2;
    text-align: center;
    color: #fff;
    padding: 1px 0;
}

@media (max-width: 900px) {

    .logo-section{
        width: 100%;
        height: 100%;
    }
    .logo-section img {
        height: 40px;
        text-align: center;
    }

    /* .banner-section-img{
        display: block;
    }
    
    .center-image{
        width: 90%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 15px;
    } */

    .right-image{
        width: 50%;
        height: 50%;
        margin-left: 50%;
    }

    .left-image{
        width: 50%;
        height: 50%;
    }

    .form-section-heading {
        font-size: 17px;
        padding-top: 20px;
        text-align: center;
    }
    
    .form-section-para {
        font-size: 1.3rem;
        color: #3e3c3c;
        margin-top: -10px;
    }
    
    .input-section {
        display: flex;
        flex-direction: column;
    }
    
    .input-box {
        width: 70%;
        height: 40px;
        margin: 15px auto;
        border: 2px solid #3e3c3c;
        font-size: 15px;
        font-family: "Poppins";
        padding-left: 20px;
    }

    .byjus-prep {
        font-size: 20px;
    }

    .byjus-heading{
        display: block;
        max-width: fit-content;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        width: 400px;
        height: 50%;
    }
    
    .byjus-subheading{
        text-align: center;
        color: #3E3C3C;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .info-card-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: top;
    }

    .info-card-section-2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: top;
    }
    .info-card {
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }

    .info-card-2 {
        row-gap: 20px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 25px;
    }
    
    .card-heading{
        font-size: 15px;
    }

    .info-card-text{
        font-size: 14px;
        text-align: center;
        padding: 5px;
    }

    .form-section-heading-style{
        width: 50%;
    }
    .testimonial-section-heading{
        display: block;
        max-width: fit-content;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        width: 500px;
        height: 50%;
    }
    .testimonial-section-subheading{
        font-size: 1.2rem;
        line-height: 30px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .testimonial-card{
        width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .form-section-heading-style{
        display: block;
        max-width: fit-content;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        width: 330px;
        height: 50%;
    }
}

@media (max-width: 500px) { 

    .banner-section-img{
        display: block;
    }
    
    .center-image{
        width: 90%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 15px;
    }

    .right-image{
        /* width: 250px;
        height: 300px;
        margin-left: 30px; */
        width: 250px;
        height: 300px;
        margin-left: 14%;
        margin-top: 25px;
    }
    .left-image{
        width: 250px;
        height: 300px;
        margin-left: 14%;
        margin-top: 25px;
    }
}