* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.banner-section {
  background: #fff url("./assets/bg.png") center center/cover no-repeat;
  /* background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-color: #fff; */
  width: 100%;
  background-size: cover;
  padding: 0rem 2rem;
}
.logo-section-image {
  width: 270px;
  height: auto;
  padding: 1rem 2rem;
}
.banner-section-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
  margin-top: -6rem;
}
.heading {
  font-size: clamp(2.5rem, calc(2vw + 0.5rem), 3rem);
  font-weight: 900;
  color: #070c32;
}
.blue {
  color: #3870ff;
}
.sub-heading {
  font-size: clamp(1rem, calc(2vw + 1rem), 1.5rem);
  font-weight: 400;
  color: #414882;
}
.download-img {
  width: 180px;
  padding: 0.5rem;
}
.right-image {
  width: 80%;
  display: block;
  float: right;
}
.hrule {
  margin-top: -0.2rem;
}
.section-2 {
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 0rem;
  align-items: center;
  justify-content: space-evenly;
}
.heading-phone {
  text-align: center;
  color: #070c32;
  font-size: clamp(1.5rem, calc(2vw + 1rem), 2rem);
  padding: 1rem 2rem 0rem 2rem;
}
.heading-phone-2 {
  text-align: center;
  color: #070c32;
  font-size: clamp(1.5rem, calc(2vw + 1rem), 2rem);
  padding: 1rem 2rem 0rem 2rem;
}
.phone-img {
  width: 80%;
  padding: 0rem;
  margin-top: -5rem;
}
.specs {
  width: 50%;
  padding: 2rem;
}
.specs-icons {
  width: 100px;
  padding: 0.5rem;
}
.specs-card {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.specs-text {
  font-size: 1.2rem;
  color: #070c32;
  font-weight: bold;
}
.download-images {
  text-align: center;
}
.img-2 {
  width: 180px;
  padding: 0.5rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.section-3 {
  background-color: #f5f5f5;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.leading-brands {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.section-4 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0rem 3rem;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.phone-mockup-2 {
  width: 80%;
  float: right;
}
.iframe-vid {
  width: 60%;
  padding: 1rem;
}
@media screen and (max-width: 600px) {
  .logo-section-image {
    display: block;
    width: 220px;
    padding: 0;
  }
  .banner-section {
    width: 100vw;
  }
  .banner-left-section {
    display: block;
  }
  .right-image {
    width: 70%;
  }
  .heading {
    font-size: 1.3rem;
    padding-top: 5.5rem;
    text-align: center;
  }
  .sub-heading {
    font-size: 1.2rem;
    text-align: center;
  }
  .banner-right-section {
    display: none;
  }
  .download-img {
    width: 100px;
    margin-left: 2.1rem;
  }
  .heading-phone {
    font-size: 1.3rem;
    padding-bottom: 5rem;
  }
  .heading-phone-2 {
    font-size: 1.3rem;
  }
  .section-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .specs {
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .specs-card {
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 0rem;
    margin: 0;
    border-bottom: #070c32 1px solid;
  }
  .specs-icons {
    width: 70px;
    padding-top: 3rem;
  }
  .download-images {
    margin-top: 7rem;
  }
  .phone-img {
    padding: 2rem 0rem;
  }
  .section-4 {
    display: block;
    justify-content: center;
    column-gap: normal;
    padding: 0;
    align-items: center;
  }
  .phone-info {
    display: block;
  }
  .download-block {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: -5rem;
    padding: 2rem;
  }
  .phone-img {
    width: 70%;
    margin-left: auto;
    margin-right: 3rem;
  }
  .section-3 {
    display: block;
  }
  .iframe-vid {
    width: 300px;
    padding: 0;
  }
  .img-2 {
    width: 120px;
    margin-top: -3rem;
  }
}
