body {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {

    padding-top: 20px;
}

.top_banner {
    background-color: #8585F6;
    width: 100%;
}

.banner-img {
    width: 550px;
    height: 500px;
}


.img-container {
    padding: 20px;
    background: #FEFEFF;
    border: 1px solid #565656;
    border-radius: 116px;
}

.banner-title {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.white-bg {
    background-color: #fff;
}

.mobileBannerimg {
    display: none;
}

.description {
    color: #565656;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0;
    margin-bottom: 50px;
}

.middle-title {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: 0px 7px 0px #BCBCFF;
    border: 1px solid #0e0e0e6e;
    background: #F2F2FF;
    border-radius: 40px;
}

.cross-title {
    white-space: nowrap;
    font-weight: 500;
    font-size: 20px;
    color: #565656;
    margin: 10px 20px;
}

.light-white-bg {
    background: #F2F2FF;
    padding: 10px;
}

.boxes-title {
    font-weight: 600;
    font-size: 18px;
    color: #333399;
    margin:10px 0px;
}

.keyDetailsImg {
    width: 100%;
}

.key-details-title {
    font-weight: 600;
    font-size: 22px;
    color: #565656;
    padding: 0px 10px;
    background: #FFBABA;

}

.keyImgContainer {
    margin-top: 5%;
}

.keyDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
}

.key-details-container {
    width: fit-content;
    border: 1px solid #565656;
    background-color: #fff;
    padding: 4px;
}

.icon-flex {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.img-list {
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
    color: #565656;

}

.bulletIcon {
    margin-top: 5px;
    width: 25px;
}

.key-description {
    width: 80%;
    margin: auto;
}

.OrderedList {
    font-weight: 500;
    font-size: 17px;
    color: #565656;
    padding-left: 50px;
}

.timing {
    font-weight: 500;
    font-size: 15px;
    margin:5px 0px;
    color: #565656;
}

.box-description {
    font-weight: 400;
    font-size: 17px;
    color: #565656;
    line-height: 27px;
}

.boxes-alignment {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5%;
}

.border-class-l {
    margin-right: 20px;
    margin-left: 20px;
    width: 1px;
    background-color: #565656;
    margin-top: 100px;
    margin-bottom: 20px;
}

.pink-bg {
    background-color: #FFF2F2;
    padding-top: 5%;
    padding-bottom: 5%;
}

.restriction {
    display: flex;
    align-items: center;
}

.restriction-rules {
    font-weight: 500;
    font-size: 18px;
    color: #565656;
    margin-left: 20px;
    line-height: 30px;
}

.gre-eligibility {
    display: flex;
    align-items: center;
}

.hr-line {
    width: 100%;
    background-color: #DFDFDF;
    height: 1px;
    margin-top: -20px;
}

.spacing-tb {
    padding-top: 50px;
    padding-bottom: 30px;
}

.sec-title {
    font-weight: 700;
    font-size: 42px;
    margin:10px 0;
    color: #333399;
}

.top-university {
    display: flex;
    align-items: center;
}

.sub-descripion {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #8A8A8A;
}

.university-names {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #8A8A8A;
}

.know-here {
    font-weight: 500;
    font-size: 36px;
    color: #565656;
}

.gre-description {
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    color: #8A8A8A;
    line-height: 30px;
}

.outlined {
    border: 1px solid #5656569c;
    background-color: #F2F2FF;
    padding: 10px;
    margin-top: 5%;
}

.learning-title {
    font-weight: 600;
    font-size: 22px;
    margin:15px 0px;
    color: #333399;
}

.description-content {
    font-weight: 400;
    font-size: 22px;
    color: #565656;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 36px;
}

.outlined img {
    width: 100%;
}

.gre-coaching {
    font-weight: 600;
    font-size: 58px;
    color: #565656;

}

.divFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 3%;
}

.timelineFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.banner-below-des {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.planning-title {
    font-weight: 600;
    font-size: 30px;
    color: #333399;
    margin: 20px 0;
}

.planning-description {
    color: #565656;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
}

.form_fields {
    width: 30%;
    color: #646363;
    font-weight: 400;
    font-size: 28px;
    font-size: 14px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #3E3C3C;
    padding-left: 20px;
}

.setOf_fields {
    display: flex;
    padding-top: 7%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 3%;
}

.footer {
    background: #4D6FE7;
    height: 100px;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staging-title {
    font-weight: 600;
    font-size: 24px;
    color: #565656;
    margin:40px 0px;
}

.first-different-staging-cards{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: 33.33%;
    margin: 20px;
    margin-left: 0px;
}

.third-different-staging-cards{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: 33.33%;
    margin: 20px;
    margin-right: 0px;
}

.staging-card-title {
    font-weight: 700;
    font-size: 26px;
    color: #333399;
    text-align: center;
    margin:20px 0px;
}

.roles-of-staging {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.roles-of-staging img {
    margin-top: 10px;
}

.different-staging-cards {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: 33.33%;
    margin: 20px
}

.whole-cards {
    display: flex;
    margin-bottom: 5%;
}

.image-alignment {
    text-align: center;
}

.bulletText {
    font-weight: 400;
    font-size: 15px;
    color: #565656;
    padding-left: 20px;
    line-height: 26px;
}

.list-of-planning{
    font-weight: 400;
font-size: 20px;
line-height: 36px;
padding-top: 5%;
color: #565656;
}

.banner-below-des div {
    font-weight: 400;
    font-size: 20px;
    color: #565656;
}

.accuracy-description {
    font-weight: 400;
    font-size: 21px;
    color: #565656;
   padding: 5% 0;
   line-height: 30px;
}

.we-are-the-best {
    width: 100%;
    padding: 5% 0;
}

.amid {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    background: #FFFFFF;
    border: 1px solid #565656;
}

.amid-title {
    font-weight: 600;
    font-size: 24px;
    color: #565656;
    padding: 5px 25px;
}

.center-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.applyNow_container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.applynowbtn {
    background: #4f35f2;
    border: 4px solid #ffffff;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    padding: 10px 50px;
    cursor: pointer;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .mobile_hide {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.mobileViewImage{
    display: none;
}
@media(max-width:1200px) {
    .banner-img {
        width: 100%;
        height: 100%;
    }  
    .img-container {
        border-radius: 65px;
    }
}
@media(max-width:820px){
    .greProgram-image-cl{
        width: 100%;
    }
}
@media(max-width:700px) {
    .banner-title {
        font-size: 18px;
    }
    .mobileViewImage{
        display: block;
        margin-top: 20px;
    }
    .secondImgSec{
        margin-top: -70px;
        width: 100%;
    }
    .firstImageSec{
        width: 100%;
    }
    .keyImgContainer{
        display: none;
    }
    .applynowbtn{
        font-size: 14px;
    }
    .roles-of-staging img{
        width: 10px;
    }
    .bulletIcon{
        width: 15px;
    }
    .key-description{
        width: unset;
    }
    .banner-img {
        display: none;
    }

    .mobileBannerimg {
        display: block;
        width: 100%;
    }

    .logo {
        width: 112px;
    }

    .img-container {
        background-color: unset;
        border: none;
    }

    .description {
        font-size: 14px;
    }

    .cross-title {
        font-size: 10px;
        margin: 5px 10px;
    }
    .learning-title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .key-details-title {
        font-size: 12px;
    }
    .whole-cards{
        flex-direction: column;
    }
    .first-different-staging-cards{
        width: 80%;
        margin:auto;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .staging-card-title{
        font-size: 16px;
    }
    .bulletText{
        font-size: 14px;
    }
    .we-are-the-best{
        padding: 13% 0;
    }
    .list-of-planning{
        font-size: 14px;
    }
    .setOf_fields{
        padding-top: 15%;
        flex-direction: column;
    }
    .form_fields{
        width: 70%;
        margin:auto;
        margin-bottom: 20px;
    }
    .footer{
        font-size: 14px;
        height: 60px;
    }
    .timelineFlexCenter{
        justify-content: flex-start;
        margin-bottom: 25px;
    }
    .accuracy-description{
        font-size: 14px;
        padding: 10% 0;
    }
    .amid-title{
        font-size: 10px;
        white-space: nowrap;
    }
    .different-staging-cards{
        width: 80%;
        padding: 20px;
        margin:auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .third-different-staging-cards{
        width: 80%;
        padding: 20px;
        margin:auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .boxes-alignment{
        flex-direction: column;
        margin-bottom: 60px;
    }
    .border-class-l{
        height: 1px;
        margin-top: 20px;
        width: unset;
        
    }
    .OrderedList{
        font-size: 13px;
    }
    .gre-eligibility{
        flex-direction: column;
    }
    .gre-description{
        font-size: 14px;
    }
    .sec-title{
        font-size: 16px;
    }
    .top-university{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .gallery-image-university{
        width: 100%;
        margin: 20px 0;
    }
    .banner-below-des{
        width: unset;
    }
    .banner-below-des div{
        font-size: 14px;
    }
    .description-content{
        font-size: 13px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .divFlexCenter{
        justify-content: flex-start;
        width: unset;
        margin-top: 15%;
    margin-bottom: 3%;
    }
    .planning-title{
        font-size: 16px;
    }
    .planning-description{
        font-size: 14px;
        line-height: 30px;
    }
    .greProgram-image{
        width: 100%;
    }
    .gre-coaching{
        font-size: 18px;
    }
    .staging-title{
        font-size: 14px;
    }
    .outlined{
        margin-top: 10%;
    }
    .sub-descripion{
        font-size: 14px;
    }
    .university-names{
        font-size: 13px;
        margin-bottom: 20px;
    }
    .know-here{
        font-size: 16px;
        margin:10px 0px;
    }
    .hr-line{
        display: none;
    }
    .img-list{
        font-size: 14px;
    }
    .pink-bg{

    padding-top: 10%;
    padding-bottom: 10%;

    }
    .restriction-rules{
        font-size: 12px;
    }
    .box-description{
        font-size: 14px;
    }
}