* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.landing {
  background: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo-img {
  width: 250px;
  padding: 1rem 2rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  margin-top: -2rem;
}
.col-1 {
  width: 50%;
  padding-left: 2rem;
}
.heading {
  font-size: 2.5rem;
  color: #070c32;
  font-weight: bolder;
}
.blue-heading {
  color: #3870ff;
}
.sub-heading {
  color: #414882;
  font-size: 1.5rem;
  font-weight: 500;
}
.col-2 {
  width: 50%;
}
.sub-banner {
  width: 90%;
  padding: 1rem 0rem;
  margin-top: -2rem;
}
.download-img {
  display: flex;
}
.app-download {
  width: 160px;
  padding: 0.5rem;
}
.section-2 {
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.row-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  margin-top: -2rem;
}
.heading-2 {
  font-size: 1.6rem;
  color: #070c32;
  text-align: center;
}
.phone-img {
  width: 100%;
}
.specs-card {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.specs-icon {
  width: 80px;
  padding: 0.5rem;
}
.specs-text {
  font-size: 1.2rem;
  color: #070c32;
  font-weight: bold;
  padding: 1rem;
}
.section-3 {
  background-color: #f5f5f5;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.companies {
  width: 50%;
  padding: 1rem;
}
.phone-img-2 {
  width: 95%;
}
.iframe-vid {
  width: 60%;
  padding: 1rem 0rem;
}

@media screen and (max-width: 600px) {
  .landing {
    height: max-content;
  }
  .row {
    display: block;
    height: auto;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .col-1 {
    width: 100%;
  }
  .heading {
    font-size: 1.5rem;
    text-align: center;
  }
  .sub-heading {
    font-size: 1rem;
    text-align: center;
  }
  .heading-2 {
    font-size: 1.4rem;
    padding: 1rem;
  }
  .app-download {
    width: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .col-2 {
    width: 100%;
    padding: 1rem;
  }
  .sub-banner {
    width: 100%;
  }
  .row-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .specs-card {
    display: block;
    padding: 0.5rem;
    border-bottom: #a0a0a0 1px solid;
  }
  .specs-icon {
    padding: 0.5rem;
  }
  .specs-text {
    padding: 0;
  }
  .phone-img {
    width: 90%;
    padding: 0;
    margin-left: -2rem;
    margin-right: auto;
  }
  .companies {
    width: 70%;
    padding: 0;
  }
  .phone-img-2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 900px) {
  .landing {
    height: max-content;
  }
  .sub-banner {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .row-2 {
    padding: 0;
  }
  .col-1 {
    padding: 0;
  }
  .col-2 {
    padding: 0;
  }
  .phone-img {
    width: 100%;
    padding: 0;
  }
  .phone-img-2 {
    padding: 0;
    width: 100%;
  }
  .specs-card {
    padding: 1rem;
  }
  .specs-icons {
    padding: 0.5rem;
  }
  .specs-text {
    padding: 0.2rem;
    /* text-align: left; */
    font-size: 1.3rem;
  }
}
