* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  max-width: fit-content;
}
.logo-section {
  width: 100%;
  height: 100%;
  text-align: center;
}
.logo-section img {
  padding-bottom: 5px;
}
.container {
  background-image: url('https://dsxfv1fxcymhz.cloudfront.net/GRE/Edge-April-2022/banner-bg-new.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(79, 53, 242, 0.9);
  width: 100%;
}
.col1 {
  width: 100%;
  text-align: center;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dream-score {
  width: 50%;
  height: 50%;
  padding-bottom: 20px;
}
.dream-university {
  width: 50%;
  padding-bottom: 20px;
}
.kickstart {
  width: 50%;
  padding-bottom: 20px;
}
.arrow {
  width: 50px;
  align-items: center;
}
.roadmap-section {
  display: block;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.roadmap-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #4f35f2;
  padding-bottom: 20px;
}
.roadmap-img {
  width: 100%;
  height: 80%;
  text-align: center;
  padding: 15px 15px 15px 15px;
}
.map-img {
  width: 60%;
  padding-top: 0;
}
.dream {
  display: block;
  text-align: center;
  background-color: #e4e7f9;
  padding-bottom: 80px;
}
.dream-text {
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f35f2;
  width: 80%;
  height: 54px;
  margin: auto;
  vertical-align: middle;
  position: relative;
  top: -1.8rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0.5rem 0;
}
.dream-img {
  padding-top: 20px;
}
.roadmap-dream {
  width: 100%;
  height: 60%;
}
.submit-btn {
  height: 60px;
  width: 318px;
  font-size: 1.3rem;
  font-family: "Poppins";
  font-weight: 700;
  color: #fff;
  background-color: #4d6fe7;
  border: 4px solid #e5e5e5;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.recipe {
  display: block;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
}
.recipe-heading {
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f35f2;
  width: 500px;
  height: 54px;
  margin: auto;
  vertical-align: middle;
  position: relative;
  margin-top: -70px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 0 0 0;
}
.gre-prep {
  font-size: 1.5rem;
  color: #656565;
}
.gre-content {
  font-size: 1.2rem;
  font-weight: 700;
  color: #4f35f2;
}
.hours-img {
  width: 35%;
}
.byjus-prep {
  background-color: #e4e7f9;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
}
.byjus-heading {
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f35f2;
  width: 700px;
  height: 54px;
  margin: auto;
  vertical-align: middle;
  position: relative;
  top: -2rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0.5rem 0;
}
.byjus-subheading {
  text-align: center;
  color: #3e3c3c;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 45px;
}
.info-card-section {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  row-gap: 20px;
  margin-top: 25px;
  justify-content: center;
}
.info-card-section-2 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  row-gap: 20px;
  margin-top: 25px;
  justify-content: center;
}
.info-card {
  width: 25rem;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
  border: 3px solid #eeebff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.card-img {
  padding: 30px;
}
.card-heading {
  font-size: 1.5rem;
  color: #474747;
  font-weight: 700;
}
.info-card-text {
  font-size: 1rem;
  padding: 0 40px;
}
.stand-out {
  text-align: center;
}
.standout-heading {
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f35f2;
  width: 650px;
  height: 54px;
  margin: auto;
  vertical-align: middle;
  position: relative;
  margin-bottom: 30px;
  margin-top: -30px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 0 0 0;
}
.standout-subheading {
  font-size: 1.5rem;
  color: #656565;
  font-weight: 700;
}
.levels {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.custom-prep {
  width: 420px !important;
}
.testimonial-section {
  background-color: #e4e7f9;
  text-align: center;
  padding-bottom: 8%;
}
.testimonial-section-heading {
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f35f2;
  width: 500px;
  height: 54px;
  position: relative;
  top: -2.5rem;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0.5rem 0;
}
.testimonial-section-subheading {
  text-align: center;
  color: #3e3c3c;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 45px;
  padding-bottom: 50px;
}
.testimonial-card {
  text-align: center;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 5px !important;
  padding-left: 5px !important;
  background-color: #fff;
  padding-bottom: 20px;
  width: 400px;
  height: 50%;
  box-shadow: 2px 2px 5px #00000026;
  border: #fff 4px;
  border-style: solid;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.user-img {
  height: 150px;
  border: solid 4px #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #00000026;
  margin-top: -15%;
}
.user-name {
  font-family: "Poppins";
  font-weight: 900;
  color: #4d6fe7;
}
.user-score {
  font-weight: 700;
  color: #4d6fe7;
}
.para5 {
  font-size: 15px;
}
.college-img {
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-evenly;
}
.right-arrow {
  height: 50px;
}
.collage-para {
  margin-top: -3px;
  font-size: 0.6rem;
  line-height: 8px;
}
.form-section {
  text-align: center;
  background-color: #fff;
  padding-bottom: 50px;
}
.form-section-heading-style {
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f35f2;
  width: 700px;
  height: 54px;
  margin: auto;
  vertical-align: middle;
  position: relative;
  top: -1.5rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 0 0 0;
}
.form-section-para {
  font-size: 1.5rem;
  color: #3e3c3c;
  margin-top: -30px;
}
.input-section {
  display: flex;
  justify-content: center;
}
.input-box {
  width: 380px;
  height: 50px;
  border: 2px solid #3e3c3c;
  font-size: 1.2rem;
  font-family: "Poppins";
  padding-left: 20px;
  margin: 2rem;
}
.submit-btn {
  margin-top: 30px;
  height: 60px;
  width: 318px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #4d6fe7;
  border: 4px solid #e5e5e5;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.footer-section {
  background-color: #4d6fe7;
  text-align: center;
  color: #fff;
  padding: 1px 0;
}
@media (max-width: 500px) {
  .logo-section img {
    width: 50%;
    align-items: center;
  }
  .dream-score {
    width: 70%;
  }
  .dream-university {
    width: 70%;
  }
  .kickstart {
    width: 70%;
  }
  .arrow {
    width: 20px;
  }
  .roadmap {
    font-size: 16px;
    text-align: center;
  }
  .map-img {
    width: 90%;
    align-items: center;
    justify-content: left;
    margin-right: 25px;
    padding-bottom: 10px;
  }
  .dream-text {
    font-size: 16px;
    width: 85%;
    margin-top: -20px;
    justify-content: center;
  }
  .roadmap-dream {
    padding: 1px;
  }
  .start-my-prep {
    padding-bottom: 20px;
  }
  .submit-btn {
    width: 250px;
    font-size: 18px;
  }
  .recipe-heading {
    display: block;
    max-width: fit-content;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 50%;
  }
  .gre-prep {
    font-size: 16px;
    padding: 10px;
  }
  .gre-content {
    font-size: 16px;
    padding: 10px;
  }
  .hours-img {
    width: 80%;
    padding-bottom: 20px;
  }
  .byjus-prep {
    font-size: 20px;
  }
  .byjus-heading {
    display: block;
    max-width: fit-content;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 50%;
  }
  .byjus-subheading {
    text-align: center;
    color: #3e3c3c;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .info-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
  }
  .info-card-section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
  }
  .info-card {
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .info-card-2 {
    row-gap: 20px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 25px;
  }
  .card-heading {
    font-size: 15px;
  }
  .info-card-text {
    font-size: 14px;
    text-align: center;
    padding: 5px;
  }
  .standout {
    display: block;
    padding-bottom: 100px;
  }
  .standout-heading {
    display: block;
    max-width: fit-content;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 50%;
  }
  .standout-subheading {
    text-align: center;
    color: #656565;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .levels {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
  }
  .custom-prep {
    width: 500px;
  }
  .testimonial-section {
    padding-bottom: 5rem;
  }
  .testimonial-section-heading {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 30%;
  }
  .testimonial-section-subheading {
    font-size: 1.2rem;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .testimonial-card {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .form-section-heading {
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
  }
  .form-section-para {
    font-size: 1.3rem;
    color: #3e3c3c;
    margin-top: -10px;
  }
  .input-section {
    display: flex;
    flex-direction: column;
  }
  .input-box {
    width: 70%;
    height: 40px;
    margin: 15px auto;
    border: 2px solid #3e3c3c;
    font-size: 15px;
    font-family: "Poppins";
    padding-left: 20px;
  }
  .form-section-heading-style {
    position: relative;
    top: -1.2rem;
    max-width: fit-content;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 50%;
  }
}
@media (max-width: 900px) {
  .logo-section {
    width: 100%;
  }
  .dream-text {
    width: 80%;
    height: 5rem;
  }
  .levels {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    width: fit-content;
  }
  .custom-prep {
    width: 245px !important;
  }
  .testimonial-card {
    margin-bottom: 50px;
    width: fit-content;
  }
  .input-box {
    font-size: 16px;
  }
}
