* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
.show {
  display: block;
}
h1 {
  font-family: "Poppins", sans-serif;
}
.logo {
  text-align: center;
  padding: 10px;
}
.firstSection {
  background: #4f35f2;
  width: 100%;
}
.otp-counter-resend p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #4f35f2;
}
@media (max-width: 900px) {
  .firsSection-firstCol {
    display: flex;
    flex-direction: column-reverse;
  }
  .hideSection {
    display: block !important;
  }
  .mobileView-hide {
    display: none;
  }
  .firstSection-description {
    margin-bottom: 0% !important;
  }
  .textfield-container {
    flex-direction: column;
    row-gap: 1em;
  }
  .mentor-image img {
    width: 100%;
  }
  .card_header_div {
    display: none !important;
  }
  .image-hide {
    display: block !important;
  }
  .main_card {
    width: 100% !important;
  }
  .mentor-mage img {
    width: 100%;
  }
  .industry_prep_div img {
    width: 30%;
  }
  .industry_prep_div h2 {
    font-size: 9px;
  }
  .industry_prep_div p {
    font-size: 8px;
  }
  .last-image {
    width: 100% !important;
  }
  .text {
    line-height: 18px !important;
  }
  .mentor-mage {
    margin: 20px;
  }
  .fourthSection-content {
    width: 90% !important;
    left: 5% !important;
    font-size: 20px !important;
  }
}
.heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  text-align: center;
  color: #fff;
  margin-bottom: 10%;
  width: 100%;
}
.heading img {
  width: 100%;
}
.firsSection-firstCol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.firstSection-description {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30%;
  text-align: center;
  color: #fff;
}
.hideSection {
  display: none;
  padding: 4%;
}
.textfield-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirdSection-sub-column {
  float: left;
  width: 33.33%;
}
.industry_prep_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.last-image {
  width: 70%;
  margin: auto;
  margin-bottom: 3%;
}
.space-Col {
  padding: 0px;
}
.last-image:after {
  content: "";
  display: table;
  clear: both;
}
.thirdSection-sub-columns {
  float: left;
  width: 50%;
}
.thirdSection-sub:after {
  content: "";
  display: table;
  clear: both;
}
.thirdSection-sub {
  padding: 0px;
}
@media (max-width: 500px) {
  .thirdSection-sub-column {
    width: 50%;
    row-gap: 20px;
    column-gap: 5px;
  }
  .mobileViewVisibleSection {
    display: block !important;
  }
  .mobileViewHideSection {
    display: none;
  }
  .secondSection-title {
    font-size: 15px !important;
  }
  .thirdSection-subTitle {
    font-size: 10px !important;
    line-height: unset !important;
    padding: 10px;
  }
  .fourthSection-content {
    font-size: 14px !important;
    width: 95% !important;
    left: 2% !important;
  }
  .sub_description {
    font-size: 14px !important;
    line-height: 25px !important;
  }
  .card_content {
    font-size: 10px !important;
    line-height: 20px !important;
  }
  .formFields input {
    margin: 10px !important;
  }
  .main_card {
    height: auto !important;
  }
  .industry_prep_div {
    padding: 5px;
  }
}
.secondSection {
  background: #eeebff;
  padding: 2%;
}
.fourthSection {
  position: relative;
}
.thirdSection-title {
  font-size: 22px !important;
}
.fourthSection-content {
  width: 70%;
  background: #4f35f2;
  border-radius: 12px;
  margin: auto;
  position: absolute;
  left: 15%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  padding: 2px;
  text-align: center;
  color: #fff;
}
.fifth-section {
  background: #eeebff;
}
.sub_description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  padding: 4%;
}
.card_div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  margin: 10px;
  margin-bottom: 0;
}
.main_card {
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
  width: 80%;
  margin: auto;
}
.card_header_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 2%;
  border-bottom: 2px solid #3e3c3c59;
}
.card_content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #3e3c3c;
  padding-top: 30px;
}
.divider_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_content_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 590px;
  height: 72px;
  padding-top: 6%;
}
.card_content_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 590px;
  height: 72px;
  text-align: center;
  padding-top: 6%;
}
.divider {
  width: 900px;
  top: 3002px;
  border: 1px solid #3e3c3c;
}
.image-container {
  display: flex;
  justify-content: space-around;
}
.image-hide {
  display: none;
}
.checkbox {
  padding: 0 25%;
  display: flex;
  background: #eeebff;
}
input[type="checkbox" i] {
  margin-top: 5px;
  margin-right: 10px;
}
.start-button {
  text-align: center;
  background: #eeebff;
}
.start-button-bottom {
  text-align: center;
  background: #eeebff;
  padding-top: 3%;
  padding-bottom: 5%;
}
.footer {
  background: #4f35f2;
  padding: 1%;
  text-align: center;
  color: #fff;
}
.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}
.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.secondSection-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #3e3c3c;
  margin: 20px 0;
}
.button-container {
  background: #4f35f2;
  font-size: 20px;
  color: #fff;
  padding: 15px 35px;
  outline: none;
  border: 4px solid #fff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 30px 0;
}
.formFields input {
  background: #fff;
  border: 2px solid #3e3c3cb2;
  color: #646363;
  font-size: 18px;
  padding: 10px;
  margin: 30px;
}
.thirdSection-title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding-top: 2%;
  color: #4f35f2;
}
.thirdSection-subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  padding-bottom: 1%;
  text-align: center;
  color: #3e3c3c;
}
.institute_text {
  text-align: center;
}
.institute_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 18%;
}
.button-text-color {
  color: #fff;
}
.mobileViewVisibleSection {
  display: none;
}
.card_header_div img {
  height: 60px;
  width: 150px;
  object-fit: contain;
}
.divider-line {
  width: 100%;
  height: 2px;
  background-color: #3e3c3c59;
  margin-top: 20px;
}
